* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #FFF;
  --font-color: #323238;
  --primary-color:#E1E1E6;
  --primary-color-dark: #02799D;
  --icon-color: #fff;
}

body.dark {
  --bg-color: #000;
  --font-color: #fff;
  --primary-color:#202022;
  --primary-color-dark: #00c2fd;
  --icon-color: #000;
  --bg-card: #202022;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color);

}

.container {
  width: 82rem;
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.timer {
  width: 32.1rem;
  height: 21rem;
}

.time {
  width: 32.1rem;
  height: 11.7rem;
  border-radius: 24.8rem;
  font-size: 10rem;
  color: var(--font-color);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 4rem;
  width: 31rem;
  height: 4.8rem;
}

button {
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
}


.sounds {
  width: 30rem;
  height: 33rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 15rem 15rem;
}

.card {
  width: 13rem;
  height: 15rem;
  background: var(--primary-color);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--bg-card) 0px 5px 15px;
}

.card:hover {
  transform: scale(1.1);
}

.active {
  background: var(--bg-card);
}

.active.card-tree {
  --bg-card: #00fa3ea9;
}

.active.card-rain {
  --bg-card: #002efab9;
}

.active.card-city {
  --bg-card: #d3f802be;
}

.active.card-camp {
  --bg-card: #fa0000b7;
}

.icon-play.active { 
  fill: var(--primary-color-dark);
}

.icon-color {
  fill: var(--icon-color);
}

.no-display {
  display: none;
}

footer {
  position: fixed;
  right: 0;
  top: 0;
  padding: 6rem;
}


input[type=range] {
  height: 1rem;
  background: transparent;
  -webkit-appearance: none;
  margin: 2rem;
  padding: 0 2rem;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  margin: 1rem 0;
  background: #FFF;
  border-radius: 8px;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  margin: 1rem 0;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
